.footer {
    display: flex;
    align-items: center;
    padding: 30px;
    background: #161616;
    color: white;
}

.heading {
    margin-right: 20px;
    font-size: x-large;
}

.links {
    display: flex;
    margin-left: 500px;
}

.footer img {
    width: 50px;
    border-radius: 100%;
    margin-right: 50px;
    filter: invert(100%);
    object-fit: cover;
}

@media only screen and (max-width: 320px) {
    .footer{
        width: 100vw;
        flex-direction: column;
    }
    .heading{
        font-size: larger;
    }
    .links {
        display: flex;
        margin-left: 20px;
    }
}