.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: azure;
}

.body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .body h1{
    font-weight: 700;
    font-size: xx-large;
    margin: 20px;
}

@media only screen and (max-width: 320px) {
    .main{
        width: 100vw;
    }
}