.header{
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 50;
}

.menu{
    width: 480px;
    height: 650px;
    background-color:#c9fd74;
    border-radius: 25px;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .main{
        overflow: hidden;
    }
    .header{
        width: 90vw;
        height: 90vh;
        flex-wrap: wrap;
    }
    .menu{
        position: absolute;
        top: 5px;
        right: 5px;
        border: 1px solid red;
    }
}
